<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contact Us</h4>
        <div *ngFor="let element of contactUs" class="footer-elements">
          <a routerLink="{{element.link}}">{{element.name}}</a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Quick Links</h4>
        <div *ngFor="let element of quickLinks" class="footer-elements">
          <a routerLink="{{element.link}}">{{element.name}}</a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-media">
          <div *ngFor="let element of followUs" class="footer-elements social-media-element">
            <a href="{{element.link}}"><fa-icon [icon]="element.icon" size="2x"></fa-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
