body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  background-color: #24262b;
  padding: 40px 0
}
.footer-col{
  width: 33%;
  padding:0 15px
}
.footer-col h4{
  font-size:18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-elements a {
  text-decoration: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.footer-col a:hover{
  color: white;
  padding-left: 10px;
}
