<div class="display">
  <br>
  <div class="header">
    <h1>Shipping & Delivery Policy</h1>
    <br>
    <p>
      This Shipping & Delivery Policy is part of our Terms of Use ("Terms")
      and should be therefore read alongside our main Terms:
    </p>
    <p>
      <a href="https://navkarartistryhub.com/terms-of-use">https://navkarartistryhub.com/terms-of-use</a>
    </p>
    <p>
      Please carefully review our Shipping & Delivery Policy when
      purchasing our products. This policy will apply to any order you place
      with us.
    </p>
  </div>
  <div class="content">
    <div class="clause">
      <br>
      <div class="title">WHAT ARE MY SHIPPING & DELIVERY OPTIONS?</div>
      <br>
      <div class="description">
        <p>
          We offer various shipping options. In some cases a third-party
          supplier may be managing our inventory and will be responsible for
          shipping your products.
        </p>
        <p [style.font-weight]="500">
          Free Shipping
        </p>
        <p>
          We offer free standard, two-day shipping on all orders.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">DO YOU DELIVER INTERNATIONALLY?</div>
      <br>
      <div class="description">
        <p>We do not offer international shipping.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">WHAT HAPPENS IF MY ORDER IS DELAYED?</div>
      <br>
      <div class="description">
        <p>
          If delivery is delayed for any reason we will let you know as soon as
          possible and will advise you of a revised estimated date for delivery.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">QUESTIONS ABOUT RETURNS?</div>
      <br>
      <div class="description">
        <p>If you have questions about returns, please review our Return Policy:</p>
        <p>
          <a href="https://navkarartistryhub.com/return-policy">https://navkarartistryhub.com/return-policy</a>
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">HOW CAN YOU CONTACT US ABOUT THIS
        POLICY?</div>
      <br>
      <div class="description">
        <p>If you have any further questions or comments, you may contact us by:</p>
        <p>
          Email : <a href="mailto:contact@navkarartistryhub.com">contact@navkarartistryhub.com</a>
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
