<div class="display">
  <div class="header">
    <div class="title">Customer Reviews</div>
    <div class="sub-header">
      <div class="rating">
        <app-star-rating
          [rating]="product.rating"
        ></app-star-rating>
        <mat-icon class="icon">keyboard_arrow_down</mat-icon>
      </div>
      <div class="write-review">
        <button (click)="writeReview()">Write a review</button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="reviews">
      <ng-container  *ngFor="let review of product.reviews">
        <div class="review">
          <div class="user">
            {{ review.user.name }}
          </div>
          <div class="rating-title">
            <app-star-rating
              [rating]="review.rating"
              [transform]="0.8"
              [margin]="'0px'"
            ></app-star-rating>
            <div class="review-title">
              {{review.title}}
            </div>
          </div>
          <div class="verified-purchase" *ngIf="review.verifiedPurchase">Verified Purchase
            <mat-icon>check_circle</mat-icon>
          </div>
          <div class="writtenReview">
            {{review.writtenReview }}
          </div>
          <div class="images" *ngIf="review.images.length!==0">
            <div class="image-container" *ngFor="let image of review.images">
              <img src="{{image}}" alt="{{review.title}}" (click)="readReview(review)">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
