*{
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}
.contact-us{
  background-color: #2d2b2b;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.contact-details{
  font-size: 350%;
  padding: 0 0 2%;
  color: lightblue;
}
.social-media{
  display: flex;
  justify-content: right;
}
.images{
  padding: 0 1%;
  display: flex;
  overflow: hidden;
}
.image{
  max-width: 2rem;
  max-height: 2rem;
  width: auto;
  height: auto;
  padding: 0 10% 0;
}
/*.image:hover{*/
/*  max-height: 4vh;*/
/*}*/
@media (max-width: 768px) {
  .contact-details{
    font-size: 250%;
  }
}
