<div class="display">
  <div class="header">
    <div class="title">My Wishlist</div>
    <div>
      <button (click)="continueShopping()">
        continue shopping
      </button>
    </div>
  </div>
  <div class="sub-header" *ngIf="wishlist.length!==0">
    {{wishlist.length}}
    <span *ngIf="wishlist.length===1">Item</span>
    <span *ngIf="wishlist.length!==1">Items</span>
  </div>

  <div class="wishlist" *ngIf="wishlist.length!==0">
    <ng-container *ngFor="let product of wishlist">
      <div class="product">
        <div class="image-container">
          <img (click)="viewProductDetails(product.productId)" [src]="product.imageLinks[0]" class="product-image" alt="{{ product.name }}" />
        </div>
        <div class="product-description">
          <div class="product-name">{{product.name}}</div>
          <div class="product-price rupee">{{product.price.toLocaleString('en-IN')}}</div>
        </div>
        <div class="edit-product">
          <div *ngIf="product.availability">
            <app-add-to-cart
              [title]="'Move to Cart'"
              [product]="product"
            ></app-add-to-cart>
          </div>
          <button (click)="removeFromWishlist(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="empty-wishlist" *ngIf="wishlist.length===0">
    <div>
      Don't let your wishlist feel neglected!
    </div>
    <div>
      Browse our selection and add your favorites to keep it smiling.
    </div>
  </div>
</div>
