.header{
  display: flex;
  padding: 0 0 1%
}
.title{
  font-size: 150%;
  padding: 0 0.5%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.view-all{
  padding: 0 0.5%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.view-all-heading{
  display: flex;
  align-items: center;
}
.mat-icon-main{
  display: flex;
  align-items: center;
}
.mat-icon{
  padding: 0 0 10% 0;
  transform: scale(0.6);
  margin:auto;
}
.slick-slider {
  width: 95vw;
  height: auto;
}
.product-image{
  border-radius: 10%;
  width: 100%;
  padding: 0 6%;
  cursor: pointer;
}
.about-product{
  text-align: center;
  max-width: 100%;
}
.product-name{
  margin-top: 1%;
  font-size: 120%;
  font-weight: 400;
  max-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
