.mat-sidenav-container {
  height: 120px;
}
.button{
  display: flex;
  align-items: center;
  padding: 0;
}
.mat-icon{
  /*transform: scale(1.2);*/
}
.line {
  border: none;
  border-top: 1px solid black;
  margin: 0;
}
.line-div{
  height: 1px;
  width:100%
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  color:#444444;
  height:120px
}
.nav-main{
  display: flex;
  width: 100%;
  margin: 2% 0 0 0;
  justify-content: space-between;
}
.nav-left{
  display: flex;
  align-items: center;
  flex: 1;
}
.nav-left-main{
  display: flex;
  padding-left: 5%;
}
.nav-elements{
  font-size:85%;
  padding: 0 5%;
}
.nav-element{
  color: #444;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-element:hover{
  color: black;
  padding-left: 10px;
}
.sub-categories{
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: white;
  padding: 2%;
  border: 1px solid black;
}
.nav-elements:hover .sub-categories{
  display: block;
}
.sub-category{
  color: #444;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 80%;
  text-decoration: none;
}
.nav-mid{
  align-items: center;
  height: auto;
}
.nav-title-short{
  color: black;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  font-size: 200%;
}
.nav-title-short p{
  margin: auto;
}
.nav-title a{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 70%;
  text-decoration: none;
}
.nav-title p{
  margin:2% 0 0 0;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.nav-search{
  padding:0;
  margin: 0 2% 0 0;
  width: 35%;
  display: flex;
  align-items: center;
  border-bottom: black solid 1px;
}
.nav-search:focus-within{
  border: black solid 1px;
}
.search-bar{
  display: flex;
  width: 100%;
  align-items: center;
  flex: 1;
}
.search-bar input{
  border:none;
  outline: none;
  background-color: inherit;
  width: 100%;
}
.search-bar input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 85%;
}
.autocomplete-option{
  display: flex;
  align-items: center;
}
.autocomplete-image {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  padding: 1%;
}
.nav-login{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: inherit;
  border: none;
  text-decoration: none;
  font-size:85%;
  padding: 10px;
}
.user-not-logged{
  display: flex;
  align-items: center;
}
.user-logged{
  display: flex;
  align-items: center;
}
.avatar-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 15px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping{
}
.shopping-cart{
  align-items: center;
  border: none;
  padding: 0;
}
.shopping-cart-icon {
  vertical-align: middle;
}
.mat-sidenav-content {
  padding-top: 100px;
  overflow: hidden;
}
.nav-link {
  margin: 1%;
  color: #121111;
  text-decoration: none;
}
.sidenav-menu{
  width: 80%;
  position: fixed;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.side-nav-top {
  display: flex;
  margin: 5% 2% 0;
}
.back-sidenav{
  margin-right: auto;
}
.side-nav-top p{
  margin: auto;
  font-size: 150%;
}
.close-menu-sidenav{
  margin-left: auto;
}
.nav-menu{
  list-style-type: none;
  padding: 0 1%;
  margin: 0;
}
.sidenav-category{
  display: flex;
  align-items: center;
}
.sidenav-category p{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.sidenav-category mat-icon{
  margin: 0 2%;
}
.sidenav-shopping-cart{
  width: 25%;
  position: fixed;
}
.close-cart-sidenav{
  margin: 0;
}
.nav-search-sidenav{
  padding:0;
  margin: 2% 2% 0 5%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: black solid 1px;
}
.nav-search-sidenav:focus-within{
  border: black solid 1px;
}
@media (max-width: 1200px){
  .nav-elements{
    padding: 0 2.5%;
  }
}
@media (min-width: 992px) {
  .button-menu{
    display: none;
  }
}
@media (max-width: 992px) {
  .nav-menu{
    padding-bottom: 0;
  }
  .nav-left{
    flex: none;
    width: 50px;
    padding: 0;
  }
  .nav-elements{
    display: none;
  }
  .nav-mid{
    flex: 1;
  }
  .nav-search{
    display: none;
  }
  .search-bar{
    padding: 2% 0;
  }
  .search-bar input::placeholder {
    font-size: 140%;
  }
  .nav-login{
    display: none;
  }
  .user-logged-button{
    width: 25px;
    height: 25px;
    padding:0;
  }
  .sidenav-shopping-cart{
    width: 75%;
  }
}
