<mat-sidenav-container>
  <mat-sidenav #sidenavmenu class="sidenav-menu" mode="side">
    <div class="side-nav-top">
      <mat-icon *ngIf="isCategorySelected" (click)="resetCategory()" class="back-sidenav">keyboard_arrow_left</mat-icon>
      <p *ngIf="isCategorySelected">{{categorySelected.name}}</p>
      <mat-icon (click)="sidenavmenu.toggle()" class="close-menu-sidenav">close</mat-icon>
    </div>
    <mat-nav-list>
      <ul class="nav-menu" *ngIf="!isCategorySelected">
        <li *ngFor="let element of navbarHeader" class="sidenav-category">
          <a class="nav-link" routerLink="{{ element.link }}" mat-list-item (click)="sidenavmenu.toggle()">
            <p>{{element.name }}</p>
          </a>
          <mat-icon (click)="setCategory(element.name)" *ngIf="element.name!='Shop'">keyboard_arrow_right</mat-icon>
        </li>
      </ul>
      <ul class="nav-menu" *ngIf="isCategorySelected">
        <li *ngFor="let element of subCategoryNavbarHeader" class="sidenav-category">
          <a class="nav-link" routerLink="{{categorySelected.link}}/{{ element.link }}" mat-list-item (click)="sidenavmenu.toggle()">
            <p>{{element.name }}</p>
          </a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #shoppingCart class="sidenav-shopping-cart" position="end" mode="side">
    <div class="side-nav-top">
      <mat-icon (click)="shoppingCart.toggle()" class="close-cart-sidenav">close</mat-icon>
      <p>Your Cart</p>
    </div>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <mat-toolbar-row>
        <div class="nav-main">
          <div class="nav-left">
            <button mat-icon-button (click)="sidenavmenu.toggle()" class="button-menu">
              <mat-icon class="mat-icon">menu</mat-icon>
            </button>
            <div *ngFor="let element of navbarHeader"  class="nav-elements">
              <a routerLink="{{element.link}}" class="nav-element">{{element.name}}</a>
              <div *ngIf="element && subCategories[element.name]" class="sub-categories">
                <div *ngFor="let subCategory of subCategories[element.name]">
                  <a routerLink="{{element.link}}/{{subCategory.link}}" class="sub-category">{{subCategory.name}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-mid">
            <br style="height: 25%">
            <div>
              <a routerLink="home" class="nav-title-short">
                <p>{{title}}</p>
              </a>
            </div>
            <div class="nav-title">
              <p>Navkar Artistry Hub</p>
            </div>
          </div>
          <div class="nav-right">
            <div class="nav-search">
              <mat-icon class="mat-icon" (click)="onEnterSearchPressed()">search</mat-icon>
              <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keydown.enter)="onEnterSearchPressed()" (input)="onInputChange()" [matAutocomplete]="auto">
              </div>
              <mat-autocomplete #auto>
                <mat-option *ngIf="showOptions">Red</mat-option>
              </mat-autocomplete>
            </div>
            <div class="user">
              <mat-dialog-actions *ngIf="!isUserLoggedIn" class="user-not-logged">
                <mat-icon (click)="openLoginDialog()">person</mat-icon>
                <button class="nav-login" (click)="openLoginDialog()">Login</button>
              </mat-dialog-actions>

              <div *ngIf="isUserLoggedIn" class="user-logged">
                <button class="avatar-button">{{userInitial}}</button>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="user-logged-button">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngFor="let option of userOptions" [routerLink]="option.link">
                      {{ option.name }}
                  </button>
                  <hr style="margin: 0 5%">
                  <button mat-menu-item (click)="logOut()">Logout</button>
                </mat-menu>
              </div>
            </div>
            <div class="shopping">
              <button mat-icon-button (click)="goToCart()" class="button-shopping-cart">
                <mat-icon class="mat-icon">add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row class="line-div">
        <div class="line-div">
          <hr class="line">
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
