<div class="parent">
  <div class="container" [ngClass]="isSignInVisible ? 'active' : ''" id="container">
    <div class="form-container sign-in" *ngIf="isMobileViewLogin || !isMobileView">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h1>Sign In</h1>
        <input type="email" formControlName="email" placeholder="Email" autocomplete="username" [class.invalid]="isInvalidLogin('email')">
        <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password" [class.invalid]="isInvalidLogin('password')">
        <mat-checkbox (click)="updateRememberMe()">Remember me</mat-checkbox>
        <span *ngIf="responseText">{{ responseText }}</span>
        <a href="#">→ Forget Your Password? ←</a>
        <button type="submit" class="sign-button" [disabled]="!loginForm.valid">Sign In</button>
        <div class="toggle-mobile" *ngIf="isMobileView">New to our platform? Sign up <button type="button" (click)="toggleMobileView()">here.</button></div>
      </form>
    </div>
    <div class="form-container sign-up" *ngIf="!isMobileViewLogin || !isMobileView">
      <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
        <h1>Create Account</h1>
        <input type="text" formControlName="name"
               placeholder="Name" [readonly]="isSignUpFieldsLock" [class.invalid]="isInvalidSignUp('name')">
        <input type="email" formControlName="email" placeholder="Email" autocomplete="username" [readonly]="isSignUpFieldsLock" [class.invalid]="isInvalidSignUp('email')">
        <input type="password" formControlName="password" placeholder="Password" autocomplete="new-password" [readonly]="isSignUpFieldsLock" [class.invalid]="isInvalidSignUp('password')">
        <button type="button" class="edit-details" *ngIf="isSignUpFieldsLock" (click)="editDetails()">Edit Details</button>
        <div class="generate-OTP">
          <button type="button" class="generate-OTP-button" (click)="onGenerateOTP()" [disabled]="!signUpForm.get('name')?.valid || !signUpForm.get('email')?.valid || !signUpForm.get('password')?.valid">Generate OTP</button>
          <input type="number" formControlName="otp" placeholder="OTP" class="input-otp">
        </div>
        <span *ngIf="responseText">{{ responseText }}</span>
        <button type="submit" class="sign-button" [disabled]="isSignUpLock">Sign Up</button>
        <div class="toggle-mobile" *ngIf="isMobileView">
          Already have an account? Sign in <button type="button" (click)="toggleMobileView()">here.</button>
        </div>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left" *ngIf="isSignInVisible">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all site features</p>
          <button type="button" class="hidden sign-button" id="login" (click)="toggleSignIn()">Sign Up</button>
        </div>
        <div class="toggle-panel toggle-right" *ngIf="!isSignInVisible">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all site features</p>
          <button type="button" class="hidden sign-button" id="register" (click)="toggleSignIn()">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>
