<div class="display">
  <br>
  <div class="header">
    <h1>Return Policy</h1>
    <br>
    <p>
      Thank you for your purchase. We hope you are happy with your purchase. However,
      if you are not completely satisfied with your purchase for any reason, you may return
      it to us for a full refund or an exchange. Please see below for more information on
      our return policy.
    </p>
  </div>
  <div class="content">
    <div class="clause">
      <br>
      <div class="title">RETURNS</div>
      <br>
      <div class="description">
        <p>
          All returns must be postmarked within seven (7) days of the purchase date. All
          returned items must be in new and unused condition, with all original tags and labels
          attached.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">RETURN PROCESS</div>
      <br>
      <div class="description">
        <p>
          To return an item, please email customer service at support@navkarartistryhub.com
          to obtain a Return Merchandise Authorization (RMA) number. After receiving a RMA
          number, place the item securely in its original packaging, and mail your return to the
          following address:
        </p>
        <p>Navkar Artistry Hub</p>
        <p>Attn: Returns</p>
        <p>Delhi, India</p>
        <p>
          You may also use the prepaid shipping label enclosed with your package. Return
          shipping charges will be paid or reimbursed by us.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">REFUNDS</div>
      <br>
      <div class="description">
        <p>
          After receiving your return and inspecting the condition of your item, we will process
          your return or exchange. Please allow at least fourteen (14) days from the receipt of
          your item to process your return or exchange. We will notify you by email when your
          return has been processed.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">EXCEPTIONS</div>
      <br>
      <div class="description">
        <p>
          For defective or damaged products, please contact us at the contact details below to
          arrange a refund or exchange.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">QUESTIONS</div>
      <br>
      <div class="description">
        <p>
          If you have any questions concerning our return policy, please contact us at:
        </p>
        <p>
          support@navkarartistryhub.com
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
