<div class="display">
  <div class="header">
    <div class="sub-header">
      <div class="title">My Cart</div>
      <div><button (click)="continueShopping()">continue shopping</button></div>
    </div>
  </div>
  <div class="cart" *ngIf="cart.length!==0">
    <div class="cart-display">
      <div class="product-header">
        <div class="product">Product</div>
        <div class="price">Price</div>
        <div class="quantity">Quantity</div>
        <div class="total-per-product">Total</div>
      </div>
      <hr>
      <div *ngFor="let cartItem of cart">
        <div class="product-display">
          <div class="product">
            <div class="image-container" (click)="goToProduct(cartItem.product)">
              <img [src]="cartItem.product.imageLink" alt="{{cartItem.product.name}}" class="product-image">
            </div>
            <div class="product-name">
              <button (click)="goToProduct(cartItem.product)">
                {{cartItem.product.name}}
              </button>
              <div style="font-size: 80%">{{cartItem.product.subCategory.slice(0, -1)}}, {{cartItem.product.category}}</div>
            </div>
          </div>
          <div class="price">Rs. {{cartItem.product.price}}</div>
          <div class="quantity">
            <div class="quantity quantity-box">
              <button (click)="updateItem(cartItem,-1)">
                <mat-icon style="vertical-align: middle;">remove</mat-icon>
              </button>
              <p>{{cartItem.quantity}}</p>
              <button (click)="updateItem(cartItem)" [disabled]="cartItem.quantity===cartItem.product.quantity">
                <mat-icon style="vertical-align: middle;">add</mat-icon>
              </button>
            </div>
          </div>
          <div class="total-per-product">{{cartItem.product.price*cartItem.quantity}}</div>
          <div class="remove">
            <button (click)="removeItem(cartItem.product)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="product-display-mobile">
          <div class="image-container" (click)="goToProduct(cartItem.product)">
            <img [src]="cartItem.product.imageLink" alt="{{cartItem.product.name}}" class="product-image">
          </div>
          <div class="details">
            <div class="product">
              <div class="product-name">
                <button (click)="goToProduct(cartItem.product)">
                  {{cartItem.product.name}}
                </button>
                <div style="font-size: 80%">{{cartItem.product.subCategory.slice(0, -1)}}, {{cartItem.product.category}}</div>
              </div>
              <div class="price">Rs. {{cartItem.product.price}}</div>
            </div>
            <div class="quantity-total">
              <div class="quantity">
                <div class="quantity-box">
                  <button (click)="updateItem(cartItem,-1)">
                    <mat-icon style="vertical-align: middle;">remove</mat-icon>
                  </button>
                  <p>{{cartItem.quantity}}</p>
                  <button (click)="updateItem(cartItem)" [disabled]="cartItem.quantity===cartItem.product.quantity">
                    <mat-icon style="vertical-align: middle;">add</mat-icon>
                  </button>
                </div>
              </div>
              <div class="total-per-product">Rs. {{cartItem.product.price*cartItem.quantity}}</div>
            </div>
          </div>
          <div class="remove">
            <button (click)="removeItem(cartItem.product)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="summary-display">
      <div class="summary-header">
        Order Summary
      </div>
      <div class="summary">
        <div class="charge">
          <div class="charge-header">
            Sub Total
          </div>
          <div class="charge-amount">
            Rs. {{totalAmount}}.00
          </div>
        </div>
        <div class="charge">
          <div class="charge-header">
            Coupon Discount
          </div>
          <div class="charge-amount">
            <div class="apply-coupon"><button>Apply Coupon</button></div>
            <div></div>
          </div>
        </div>
        <div class="charge">
          <div class="charge-header">
            Platform Fee
          </div>
          <div class="charge-amount">
            <p style="text-decoration: line-through;margin-right: 3px">Rs. 79.00 </p>
            <p style="color: forestgreen; right:0">Free !</p>
          </div>
        </div>
        <div class="charge">
          <div class="charge-header">
            Shipping
          </div>
          <div class="charge-amount">
            <p style="text-decoration: line-through;margin-right: 3px">Rs. 109.00 </p>
            <p style="color: forestgreen; right:0">Free!</p>
          </div>
        </div>
      </div>
      <div class="total">
        <div class="total-header">
          Total
        </div>
        <div class="total-amount">
          Rs. {{totalAmount}}.00
        </div>
      </div>
      <div class="checkout">
        <button>CHECKOUT</button>
      </div>
    </div>
  </div>
</div>
