<div class="display">
  <br>
  <div class="header">
    <h1>Privacy Policies</h1>
  </div>
  <div class="content">
    <div class="clause">
      <br>
      <div class="title">What do we do with your information?
      </div>
      <br>
      <div class="description">
        <p>
          Our information handling practices are designed to ensure your privacy and security. When you make a purchase from our store, we collect necessary personal information such as your name, address, and email address. Additionally, when you browse our store, we automatically receive your computer’s IP address to better understand your browser and operating system. With your consent, we may also utilize email marketing to keep you informed about our store, new products, and updates.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">CONSENT</div>
      <br>
      <div class="description">
        <p [style.font-weight]="500">
          How do you get my consent?
        </p>
        <p>
          When you provide us with personal information for transactional purposes such as completing a purchase, verifying your credit card, placing an order, arranging delivery, or processing a return, you are consenting to us collecting and using that information solely for those specific purposes.
        </p>
        <p>
          If we require your personal information for any secondary purposes, such as marketing, we will either directly request your explicit consent or provide you with the option to decline.
        </p>
        <p [style.font-weight]="500">
          How do I withdraw my consent?
        </p>
        <p>
          If you opt-in to receiving communications from us but later decide to change your preference, you have the right to withdraw your consent for us to contact you or to continue collecting, using, or disclosing your information. You can do so at any time by emailing us at <a href="mailto:info@navkarartistrhub.com">info@navkarartistrhub.com</a>.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">PAYMENT</div>
      <br>
      <div class="description">
        <p>
          We use Razorpay for payment processing, ensuring card data isn't stored. Transactions are encrypted via PCI-DSS standards, safeguarding your information.
          Your purchase data is retained only for transaction completion, not stored thereafter.
          Our gateway complies with PCI-DSS, endorsed by major card brands like Visa and MasterCard.
        </p>
        <p>
          For further details, visit Razorpay's terms at razorpay.com.
        </p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">THIRD-PARTY SERVICES</div>
      <br>
      <div class="description">
        <p>
          Our third-party providers collect, use, and disclose your information solely to facilitate their services for us. However, certain providers, such as payment gateways, have distinct privacy policies regarding the information required for purchase-related transactions.
        </p>
        <p>
          It's advisable to review the privacy policies of these providers to comprehend how they handle your personal data. Keep in mind that some providers may operate in different jurisdictions, potentially subjecting your information to the laws of those regions.
        </p>
        <p>
          Should you proceed with a transaction involving a third-party service provider, your data may become governed by the laws of the jurisdiction(s) where the provider or its facilities are located.
        </p>
        <p></p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">LINKS</div>
      <br>
      <div class="description">
        <p>Clicking on links within our store may lead you to external sites, directing you away from our platform. We want to emphasize that we are not accountable for the privacy practices of these external sites. We strongly recommend reviewing their privacy statements to understand how they handle your personal information. Your interaction with these external sites is subject to their respective privacy policies, and we advise exercising caution and diligence when navigating away from our site.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">SECURITY</div>
      <br>
      <div class="description">
        <p>We prioritize the protection of your personal information by implementing reasonable precautions and adhering to industry best practices. Our measures aim to prevent inappropriate loss, misuse, access, disclosure, alteration, or destruction of your data. By employing these practices, we strive to maintain the confidentiality and integrity of your information, ensuring a secure environment for your interactions with our platform.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">COOKIES</div>
      <br>
      <div class="description">
        <p>We utilize cookies to maintain the session of your user, enhancing your browsing experience on our platform. These cookies are not employed to personally identify you on other websites. Instead, they serve to keep track of your session within our site, facilitating seamless navigation and personalized features tailored to your preferences. Rest assured, our use of cookies is solely aimed at optimizing your interaction with our platform, while respecting your privacy across other websites.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">AGE OF CONSENT
      </div>
      <br>
      <div class="description">
        <p>By utilizing this site, you affirm that you are at least the age of majority in your state or province of residence. Alternatively, if you are the age of majority and have provided consent, you confirm that any minor dependents under your care are permitted to use this site. This acknowledgment ensures compliance with legal requirements regarding age restrictions for accessing and using our platform.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">CHANGES TO THIS PRIVACY POLICY
      </div>
      <br>
      <div class="description">
        <p>We retain the right to modify this privacy policy at our discretion, and thus encourage regular review of its contents. Any alterations or clarifications will become effective immediately upon being posted on the website. In the event of significant changes to this policy, we will provide notification here to ensure you remain informed about the information we collect, how it is utilized, and any circumstances under which it may be disclosed.</p>
        <p>Furthermore, if our store undergoes acquisition or merger with another company, your information may be transferred to the new owners to facilitate continued product sales to you. This provision ensures continuity of service and adherence to our commitment to safeguarding your information.</p>
      </div>
    </div>
    <div class="clause">
      <br>
      <div class="title">QUESTIONS AND CONTACT INFORMATION</div>
      <br>
      <div class="description">
        <p>If you wish to access, correct, amend, or delete any personal information we possess about you, or if you have inquiries, complaints, or require further information, please reach out to our Privacy Compliance Officer. You can contact them via email at <a href="mailto:info@navkarartistrhub.com">info@navkarartistrhub.com</a>. We are committed to addressing your concerns promptly and ensuring the protection of your privacy rights.</p>
      </div>
    </div>
  </div>
  <br>
</div>
