*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-variant: normal;
  line-height: 26.4px;
}
.product {
  padding: 2% 0;
  margin: 2%;
  text-align: center;
  overflow-y: auto;
  height: 600px
}
.title {
  padding: 1% 0;
  font-size: 200%;
  font-weight: 400;
}
.details {
  flex-grow: 1;
  font-size: 130%;
}
form{
  display: flex;
  flex-direction: column;
}
.form-heading{
  padding-bottom: 2%;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
}
.field{
  /*width:35%;*/
  flex-grow: 1;
  display: flex;
}
.field-details{
  display: flex;
}

@media (max-width: 768px) {
  .field{
    width: 100%;
  }
  .field input{
    width: 100%;
  }
  .field-details{
    display: block;
  }
}
