<div class="product" id="product">
  <div class="title">{{title}}</div>
    <div class="details">
      <form (ngSubmit)="submitForm()" #contactForm="ngForm" class="form-details">

        <div class="form-group field">
          <label for="name">Product Title</label>
          <br>
          <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
        </div>
        <br>
        <div class="form-group field">
          <label for="category">Category</label>
          <br>
          <select id="category" name="category" [(ngModel)]="formData.category" (change)="onCategorySelected($event)" required>
            <option value="{{category.name}}" *ngFor="let category of categories" >{{category.name}}</option>
          </select>
        </div>
        <br>
        <div class="form-group field" *ngIf="categorySelected">
          <label for="subCategory">Sub Category</label>
          <br>
          <select id="subCategory" name="subCategory" [(ngModel)]="formData.subCategory" required>
            <option value="{{subCategory.name}}" *ngFor="let subCategory of subCategories[categorySelected]">{{subCategory.name}}</option>
          </select>
        </div>
        <br *ngIf="categorySelected">
        <div class="form-group field">
          <label for="price">Price</label>
          <br>
          <input type="number" id="price" name="price" [(ngModel)]="formData.price" required>
        </div>
        <br>
        <div class="form-group field">
          <label for="quantity">Quantity</label>
          <br>
          <input type="number" id="quantity" name="quantity" [(ngModel)]="formData.quantity" required>
        </div>
        <br>
        <div (click)="addImageLink()">Add Image Link</div>
        <div class="form-group field">
          <div *ngFor="let link of formData.imageLinks; let i = index">
            <label for="imageLink{{ i }}">Image Link {{ i + 1 }}:</label>
            <input type="text" [(ngModel)]="formData.imageLinks[i]" name="imageLink{{ i }}">
          </div>
        </div>
        <br>
        <div class="form-group field">
          <label for="availability">Availability</label>
          <br>
          <select id="availability" name="availability" [(ngModel)]="formData.availability" required>
            <option value="{{availability}}" *ngFor="let availability of availabilityDropdown">{{availability}}</option>
          </select>
        </div>
        <br>
        <div class="form-group field">
          <label for="about">About</label>
          <br>
          <input type="text" id="about" name="about" [(ngModel)]="formData.about" required>
        </div>
        <br>
        <div class="response-text" [style.color]="responseTextColor">{{responseText}}</div>
        <br *ngIf="responseText">
        <button type="button" [disabled]="!contactForm.valid" (click)="submitForm()">Add Product</button>
      </form>
    </div>

</div>
