<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <div class="nav-main">
      <div class="nav-left">
        <button mat-icon-button (click)="sidenav.toggle()" class="button-menu">
          <mat-icon class="mat-icon">menu</mat-icon>
        </button>
        <a routerLink="home" class="nav-heading">
          <p>{{title}}</p>
        </a>

      </div>
      <div class="nav-right">
        <div *ngFor="let element of navbarHeader"  class="nav-elements">
          <a routerLink="{{element.link}}" *ngIf="!isSearchBarOpen">{{element.name}}</a>
        </div>
        <div class="user-logged" *ngIf="isUserLoggedIn">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="doSomething()">Item 1</button>
            <button mat-menu-item (click)="doSomethingElse()">Item 2</button>
          </mat-menu>
        </div>
        <mat-dialog-actions>
          <button mat-raised-button color="primary" (click)="openLoginDialog()">Login</button>
        </mat-dialog-actions>
        <div class="nav-search">
          <div *ngIf="isSearchBarOpen" class="search-bar">
            <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (keyup)="search()">
          </div>
          <button mat-icon-button (click)="toggleSearchBar()" class="button-search">
            <mat-icon class="mat-icon">search</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<hr style="width:50%;margin-left:0">
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" (click)="sidenav.toggle()">
    <mat-nav-list>
      <ul class="nav-menu">
        <li *ngFor="let element of navbarHeader" class="nav-item">
          <a class="nav-link" routerLink="{{ element.link }}" mat-list-item>{{
            element.name
            }}</a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <ngx-ui-loader fgsColor="#353535" pbColor="#353535"></ngx-ui-loader>
      <router-outlet></router-outlet>
      <app-follow-us></app-follow-us>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
