<div class="display">
  <div>
    <div class="header">{{title}}</div>
    <div class="sub-header">{{subTitle}}</div>
  </div>
  <div class="content">
    <div *ngFor="let order of orders" class="order">
      <div class="order-header">
        <div class="order-date">
          <p>ORDER PLACED</p>
          <p>{{order.orderDate.split('T')[0]}}</p>
        </div>
        <div class="order-total">
          <p>TOTAL</p>
          <p class="rupee">{{order.totalAmount.toLocaleString('en-IN')}}</p>
        </div>
        <div class="order-detail">
          <div class="order-id">
            <span>ORDER ID: </span>
            <span>{{order.orderId}}</span>
          </div>
          <div class="view-order-details" (click)="viewOrderDetails(order.orderId)">
            <p>View Order Details</p>
          </div>
        </div>
      </div>
      <hr style="margin: 2px">
      <div class="order-item" *ngFor="let orderItem of order.orderDetails">
        <div class="image-container">
          <img [src]="orderItem.product.imageLinks[0]" alt="{{orderItem.product.name}}" class="product-image" (click)="viewProductDetails(orderItem.product.productId)">
        </div>
        <div class="name" (click)="viewProductDetails(orderItem.product.productId)">
          <p>{{orderItem.product.name}}</p>
        </div>
        <div class="subtotal">
          <p class="rupee">{{orderItem.subtotal.toLocaleString('en-IN')}}</p>
        </div>
        <div class="status">
          {{ order.status }}
        </div>
      </div>
    </div>
  </div>
</div>
