<div class="display">
  <div class="navigation-header">
    <div class="home" routerLink="/home">Home > </div>
    <div class="category" routerLink="/shop/{{category.id}}"> {{category.name}} > </div>
    <div class="subCategory" routerLink="/shop/{{category.id}}/{{subCategory.id}}"> {{subCategory.name}}</div>
  </div>
  <div class="product-display">
    <div class="image-container">
      <div class="side-nav-images">
        <div *ngFor="let image of product.imageLinks" class="side-nav-product-image">
          <img class="product-image" src="{{ image }}" alt="Image" (click)="changeMainImage(image)"/>
        </div>
      </div>
      <div class="main-image">
        <img class="product-image" src="{{ mainImage }}" alt="Image" />
      </div>
    </div>
    <div class="product-header">
      <div class="product-name">{{product.name}}</div>
      <div class="product-category">{{product.subCategory}} | {{product.category}}</div>
      <div class="product-price rupee">{{product.price}}</div>
      <div class="artist"> By Niyati Jain </div>
      <hr>
      <div class="quantity-container">
        <p>Quantity</p>
        <div class="quantity">
          <div class="icon-container" (click)="decreaseQuantity()">
            <mat-icon>remove</mat-icon>
          </div>
          <input type="number" [(ngModel)]="quantity" (input)="onInputQuantity()">
          <div class="icon-container" (click)="increaseQuantity()">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
      <div class="cart-wishlist">
        <div class="cart">
          <app-add-to-cart
            [product]="product"
            [borderRadius]="'0px'"
            [height]="'42px'"
            [quantityToAdd]="quantity"
          ></app-add-to-cart>
        </div>
        <div class="wishlist">
          <app-add-to-wishlist
            [product]="product"
          ></app-add-to-wishlist>
        </div>
      </div>
      <div class="product-about">
        <div class="product-about-title">About this item</div>
        <div class="product-about">
          <ul>
            <ng-container *ngFor="let sentence of aboutProduct">
              <li>
                <span [innerHTML]="sentence"></span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="similar-slider" *ngIf="product.availability">
    <app-image-slider
      [products]="similarProducts"
      [title]="titleSimilar"
      [category]="category"
    ></app-image-slider>
  </div>
</div>
