<div class="display">
  <div class="spinner-container">
    <div class="spinner" *ngIf="isProductAdding"></div>
  </div>
  <div class="add-to-cart" *ngIf="!isProductAdding">
    <button (click)="addToCart()" [disabled]="!isProductAvailable" [style.border-radius]="borderRadius" [style.height]="height">
      <mat-icon style="transform: scale(0.75)">shopping_cart_checkout</mat-icon>
      <div>{{title}}</div>
    </button>
  </div>
  <div *ngIf="itemInCart" class="item-in-cart">
    <p>{{itemInCart}} in cart - </p>
    <button (click)="removeItem()">Remove</button>
  </div>
</div>
