<div class="display">
  <div class="header">
    <div class="header-title">
      <div class="title" *ngIf="!searchText">{{title}}</div>
      <div class="sub-title" *ngIf="!searchText">{{subTitle}}</div>
      <div *ngIf="searchText" class="search-results">
        We found {{products.length}} results
      </div>
    </div>
  </div>
  <div>
    <div class="product-display-header">
      <div class="filter-products">
        <button (click)="toggleFilterVisibility();toggleStyles()">
          <mat-icon>filter_list</mat-icon>
          Filter
        </button>
      </div>
      <div class="sort-products">
        <button (click)="toggleSortingDropdown()">
          {{selectedSortingOption.name}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <div class="sort-options" [ngStyle]="{'display': isToSortOpen ? 'block' : 'none'}">
          <div class="sort-option" *ngFor="let sortingOption of sortingOptions" (click)="selectSortingOption(sortingOption)">{{sortingOption.name}}</div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="filters-container" [ngClass]="{'hidden':isFilterHidden}">
        <div class="filters">
          <div class="out-of-stock-container">
            <mat-checkbox (change)="onShowOutOfStockChange($event)">Show Out of Stock</mat-checkbox>
          </div>
          <mat-icon>arrow-upward</mat-icon>
          <div class="category-container">
            <button (click)="toggleCategoriesDropdown()" class="category">
              Category
            </button>
            <div class="category-options" [ngStyle]="{'display': isCategoriesOpen ? 'block' : 'none'}">
              <div class="category-option" *ngFor="let category of categoriesToDisplay" (click)="selectCategoryOption(category)">{{category}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="products-container"  *ngIf="totalProducts" [ngStyle]="containerStyles">
        <div class="products">
          <ng-container *ngFor="let product of products">
            <div class="product">
              <div class="image-container">
                <img (click)="viewProductDetails(product._id)" [src]="product.imageLink" class="product-image" alt="{{ product.name }}" />
              </div>
              <div class="product-description">
                <div class="product-name">{{product.name}}</div>
                <div class="product-price">Rs. {{product.price}}.00</div></div>
            </div>
          </ng-container>
        </div>
        <div class="pagination-container" *ngIf="totalPages !== 0 && totalPages !== 1">
          <button (click)="prevPage()" [hidden]="currentPage === 1">Previous</button>
          <ng-container *ngFor="let pageNum of visiblePageNumbers">
            <ng-container *ngIf="pageNum === -1; else pageButton">
              <button disabled>&hellip;</button>
            </ng-container>
            <ng-template #pageButton>
              <button (click)="goToPage(pageNum)" [disabled]="pageNum === currentPage">{{ pageNum }}</button>
            </ng-template>
          </ng-container>
          <button (click)="nextPage()" [hidden]="currentPage === totalPages">Next</button>
        </div>
      </div>
      <div class="no-product-to-display" *ngIf="!totalProducts">
        <div>
          Oops!
        </div>
        <div>
          No luck this time.
        </div>
        <div>
          Give your search a makeover or tweak those filters!
        </div>
      </div>
    </div>
  </div>
</div>
