<div class="product" id="product" [style.background]="backgroundColor">
  <div class="product-heading">
    <div class="product-name">{{product.name}}</div>
  </div>
  <div class="product-about">
    <div class="product-image-main">
      <img class="product-image" src="{{ product.imageLink }}" alt="Image" />
<!--      <div class="product-name">{{product.price}}</div>-->
      <div class="contact" (click)="getQuote()" *ngIf="product.availability"> <button class="contact-us">Get Quote</button></div>
    </div>
    <div class="product-review">{{product.about}}</div>
  </div>
  <div class="similar-slider" *ngIf="product.availability">
    <app-image-slider
      [products]="productsByCategory"
      [title]="titleSimilar"
      [category]="product.category"
    ></app-image-slider>
  </div>
</div>
