.display{
  padding:3%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
.navigation-header{
  display: flex;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 1%;
}
.product-display{
  display: flex;
}
.image-container{
  width: 60%;
  display: flex;
  flex: 0 0 auto;
  position: sticky;
  height: 100%;
  top: 120px;
  overflow: hidden;
}
.side-nav-images{
  width: 20%;
  text-align: center;
}
.side-nav-images img{
  width: 65%;
  margin: 1%;
}
.main-image{
  flex:1;
  text-align: center;
}
.product-image{
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 85%;
}
.product-header{
  flex: 1;
  overflow-y: auto;
  margin: 1% 2% 0;
}
.product-name{
  font-size: 280%;
  font-weight: 400;
}
.product-category{
  font-size: 120%;
}
.product-price{
  /*margin:2% 0;*/
  font-size:150%;
  margin: 15px 0;
}
.rupee::before {
  content: "\20B9";
}
.artist{
  margin: 3% 0;
}
.quantity-container{
  margin: 3% 0;
}
.quantity-container p{
  font-size: 120%;
}
.quantity{
  display: flex;
}
.quantity input{
  width: 42px;
  height: 42px;
  border: 1px solid black;
  text-align: center;
  margin: 0 2px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width:42px;
  height: 42px;
  border: 1px solid black;
}
.cart-wishlist{
  margin: 3% 0;
  display: flex;
  font-size: 150%;
}
.cart{
  width: 70%;
  margin-right: 2%;
}
.wishlist{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  transform: scale(1.5);
  padding-bottom: 4px;
}
.product-about-title{
  font-size: 150%;
  font-weight: 500;
}
.product-about{
  text-align: justify;
}
.similar-slider{
  width: 100%;
}

@media (max-width: 768px) {
  .product-display{
    display: block;
  }
  .image-container {
    position: inherit;
    flex-direction: column;
    width: 100%;
  }
  .main-image{
    order:1;
    margin-bottom: 10px;
  }
  .side-nav-images{
    order: 2;
    display: flex;
    width: 100%;
  }
  .product-image{
    width: 100%;
    margin: 0;
  }
  .side-nav-product-image{
    width: 20%;
  }
}
/*.product {*/
/*  padding: 2% 0;*/
/*  margin: 0;*/
/*  text-align: center;*/
/*  justify-content: center;*/
/*}*/
/*.product-name {*/
/*  padding: 1% 0;*/
/*  color: #120E0A;*/
/*  font-size: 325%;*/
/*  font-weight: 700;*/
/*}*/
/*.product-about {*/
/*  display: flex;*/
/*  flex-grow: 1;*/
/*  flex-direction: row;*/
/*  padding: 0 10%;*/
/*}*/

/*.product-image-main {*/
/*  padding: 2% 0;*/
/*  flex-grow: 1;*/
/*  width: 33%;*/
/*  height: auto;*/

/*}*/

/*.product-image {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  border-radius: 5%;*/
/*}*/
/*.contact{*/
/*  padding: 5% 0 0;*/
/*  font-size: 150%;*/
/*}*/
/*.contact-us{*/
/*  width: 100%;*/
/*  padding: 2%;*/
/*  border-radius: 10px;*/
/*}*/
/*.product-review {*/
/*  padding: 2% 5%;*/
/*  flex-grow: 1;*/
/*  width: 100%;*/
/*  color: #35281E;*/
/*  text-align: left;*/
/*  font-size: 130%;*/
/*}*/
/*.similar-slider{*/
/*  padding: 5% 0 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*@media (max-width: 768px) {*/
/*  .product-about {*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/
/*  .product-name {*/
/*    padding: 2% 0;*/
/*    font-size: 200%;*/
/*  }*/
/*  .product-image{*/
/*    width: 100%;*/
/*    height: auto;*/
/*  }*/
/*  .product-image-main{*/
/*    width: 80%;*/
/*  }*/
/*}*/
