<div class="home-page" *ngIf="homePageConfig">

  <div class="title-container">
    <img
      [src]="homePageConfig.branding.titleBackgroundImage"
      class="title-image"
      [alt]="homePageConfig.branding.brandName"
    />

    <img
      [src]="homePageConfig.branding.titleBackgroundImageMobile"
      class="title-image-mobile"
      [alt]="homePageConfig.branding.brandName"
    />

    <div class="title-box">
      <p class="title">{{ homePageConfig.branding.brandName }}</p>
    </div>
  </div>

  <div class="box-container">
    <div
      class="box"
      *ngFor="let element of homePageConfig.sections[0]?.items"
      (click)="viewCategory(element)"
    >
      <div class="image-container">
        <img
          [src]="element.image"
          [alt]="element.label"
          class="category-image"
        />
        <p>{{ element.label }}</p>
      </div>
    </div>
  </div>
  <div class="category-slider" *ngFor="let category of allProductsByCategory">
    <app-image-slider
      [products]="category.products"
      [category]="category.category"
      [title]="category.category.name"
    ></app-image-slider>
  </div>
</div>
