.home-page{
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  padding: 1% 2%;
}
.title-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  background-color: #f0f0f0;
  padding: 30px;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 8px 10px rgba(0, 0, 0, 0.2),
    0 12px 16px rgba(0, 0, 0, 0.2),
    0 16px 24px rgba(0, 0, 0, 0.2);
}
.title-container img{
  width: 80%;
  height: auto;
}
.title-container p{
  margin: 0;
  background-color: #f0f0f0;
}
.title-image{
  width: 100%;
  object-fit: cover;
}
.box-container{
  display: flex;
  margin: 1% 0;
}
.box{
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 1%;
}
.box-container p{
  font-size: 140%;
}
.image-container{
  display: inline-block;
}
.category-image{
  width: 100%;
  object-fit: cover;
}
.category-slider{
  width:100%;
  padding: 1% 0;
}
@media (max-width: 768px) {
  .title-box{
    display: none;
  }
  .box-container p{
    font-size: 120%;
  }
}
