.display{
  padding: 2% 10%;
  font-family: 'Poppins', sans-serif;
}
.header{
  font-size: 150%;
  font-weight: 500;
}
.header button{
  display: none;
}
.my-account{
  display: flex;
}
.side-nav{
  margin: 3% 2% 0 0;
  width: 30%;
}
.navHeader{
  margin: 0 1% 8%;
  font-size: 120%;
}
.navHeader button{
  border: none;
  padding: 0;
  text-align: left;
  background-color: white;
  display: flex;
  width: 100%;
}
.icon-container {
  margin-left: auto;
}
.details{
  margin-left: 5%;
  width: 70%;
}
@media (max-width: 768px){
  .header{
    display: flex;
  }
  .title{
    flex: 1;
  }
  .header button{
    display: block;
  }
  .my-account{
    display: block;
  }
  .side-nav{
    width: 100%;
  }
  .navHeader{
    margin-bottom: 4%;
  }
  .details{
    width: 100%;
    margin: 10% 0 0;
  }
}
